/*body{
    background-color: lightblue;
    background-image: url("img/rank.png.jpg")
}

h1{
    color: white;
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 20px;
}

#tipoH1{
    color: red;
    text-align: right;
}

.tipoVermelho{
    color:red;
    text-align: right;
    font-family: tahoma;
    font-size: 22px;
}

*/
.espaco,
.listbox{
    margin:20px 0px;
}